* {
  box-sizing: border-box;
}

.border {
  border: solid black 1px;
}

body, h3, p {
  margin: 0;
}

p {
  margin: 0.5rem 0rem;
}

img, .width-full {
  width: 100%;
}

.pad {
  padding: 0.1rem 0;
}

.container-margin {
  margin: 0.5rem 1rem;
}

.mar-btm-ltl {
  margin-bottom: 1rem;
}

.mar-btm-med {
  margin-bottom: 3rem;
}

.mar-btm:nth-last-child(2) {
  margin-bottom: 4rem;
}

.btm-nav {
  display: flex;
  justify-content: space-around;
}

.flex-sp-bt {
  display: flex;
  justify-content: space-between;
}

.icon-row {
  display: flex;
  text-align: right;
}

.mar-right {
  margin-right: 1rem;
}

.fixed-btm {
  position: fixed;
  bottom: 0;
}

.fixed-top {
  position: sticky;
  top: 0rem;
}

.heart {
  flex-basis: 5%;
}

.comment {
  flex-basis: 13%;
}

.save {
  flex-basis: 82%;
}

.mini-pic > img {
  object-fit: cover;
  width: 50px;
  height: 30px;
  margin-right: 0.5rem;
}

.prof-pic > img {
  height: 200px;
  width: 200px;
}

.prof-pic {
  padding: 2.5rem 0;
  display: flex;
  justify-content: center;
}

.mini-pic {
  display: inline;
  position: relative;
  top: 8px;
}

.grid {
  min-height: 350px;
  display: flex;
  flex-wrap: wrap;
}

.thumb-container {
  width: 33.333333%;
  height: 120px;
}

.thumb-container:last-child {
  margin-bottom: 3.5rem;
}

.thumb-container > img {
  object-fit: cover;
  /* width: 125px; */
  height: 120px;
}

.fixed-mid {
  position: sticky;
  top: 60.19px;
}

div.header-container.fixed-top {
  z-index: 1;
}

.layout-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 1rem;
}

.body-container > h3{
  margin: 6rem auto;
  text-align: center;
}

.input-file {
  font-size: 1.2rem;
}

.form {
  display: flex;
  flex-wrap: wrap ;
}

.sub-btn {
  width: 200px;
  height: 50px;
  background-color: #9BB7D4;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
}

.sub-btn:hover {
  background-color: goldenrod;
}

.sub-btn-con, .cap-con {
  margin: 1.5rem auto;
  width: 200px;
}

.label-cap {
  display: block;
  font-size: 1.2rem;
}

.input-cap {
  font-size: 1rem;
}
