* {
  font-family: 'Ubuntu', sans-serif;
}

.color {
  color: #9BB7D4;
}

a {
  font-size: 1.5rem;
  color: black;
}

p > span {
  font-weight: bold;
}

a > span {
  font-size: 1.3rem;
  font-weight: bold;
}

nav {
  padding-top: 0.4rem;
}

p:last-child {
  font-size: 0.8rem;
}

.icon-row > span, .layout-bar > span {
  font-size: 1.6rem;
}

header > h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
}
.header-container {
  background-color: #9BB7D4;
}

.footer-container {
  background-color: rgba(155, 183, 212, .9);
}

.icon-notif {
  font-size: 1.6rem;
}

.circle {
  border-radius: 50%;
  border: gray solid 1px;
}

.fixed-mid {
  background-color: white
}
